@import url("https://fonts.cdnfonts.com/css/bebas-neue");
@import url("https://fonts.cdnfonts.com/css/samsung-sharp-sans");
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

textarea {
  resize: vertical;
}

a:hover {
  text-decoration: none;
}

* html .clearfix {
  height: 1%;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
}

p {
  font-family: "Samsung Sharp Sans", sans-serif;
}

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
span,
p,
a,
label {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

.ease,
a,
input[type=submit],
button {
  transition: all 0.5s ease;
}

.relative {
  position: relative;
}

.clearfix {
  display: block;
  clear: both;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.middle-div {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.hori-div {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.bg-common {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.relative,
.rel {
  position: relative;
}

.absolute,
.abs {
  position: absolute;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

header {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.home-banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  padding-top: 250px;
}
.home-banner .wrapper {
  align-items: center;
}
.home-banner .wrapper .content h1 {
  color: #fff;
  font-size: 180px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.home-banner .wrapper .content .mt {
  margin-top: -40px;
}
.home-banner .wrapper .content p {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
}
.home-banner .wrapper .content span a {
  color: #fff;
  text-decoration: underline;
}
.home-banner .wrapper .content .btn-home {
  display: flex;
  gap: 30px;
  align-items: center;
}
.home-banner .wrapper .content .btn-home .btn-login a {
  background-color: #bd1733;
  padding: 20px 80px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-family: "Samsung Sharp Sans", sans-serif;
  text-align: center;
  border-radius: 5px;
}
.home-banner .wrapper .content .btn-home .btn-scan {
  background-color: #2c4999;
  padding: 18px 40px;
  border-radius: 5px;
}
.home-banner .wrapper .content .btn-home .btn-scan img {
  width: 20%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-banner .wrapper .content .btn-home .btn-scan a {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-family: "Samsung Sharp Sans", sans-serif;
  text-align: center;
}

.signup {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  padding-top: 250px;
}
.signup .wrapper .form {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5); /* Setting opacity with RGBA */
  padding: 90px;
  border-radius: 10px;
}
.signup .wrapper .form h1 {
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 60px;
}
.signup .wrapper .form form p {
  text-align: center;
  color: #fff;
  font-family: "Samsung Sharp Sans", sans-serif;
  font-weight: 500;
}
.signup .wrapper .form form span a {
  color: #fff;
}
.signup .wrapper .form form input {
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  background-color: transparent;
  border: 2px solid #fff;
  margin-bottom: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.signup .wrapper .form form input::-moz-placeholder {
  color: #fff;
  font-family: "Samsung Sharp Sans", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
.signup .wrapper .form form input::placeholder {
  color: #fff;
  font-family: "Samsung Sharp Sans", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
.signup .wrapper .form form button {
  width: 100%;
  background-color: #bd1733;
  padding: 20px;
  color: #fff;
  font-weight: 500;
  font-family: "Samsung Sharp Sans", sans-serif;
  border-radius: 15px;
  border: none;
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */