@import url("https://fonts.cdnfonts.com/css/bebas-neue");
@import url("https://fonts.cdnfonts.com/css/samsung-sharp-sans");

html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

ul,
li {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style: none;
}

textarea {
  resize: vertical;
}

a:hover {
  text-decoration: none;
}

* html .clearfix {
  height: 1%;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
}
h2 {
  font-family: "Bebas Neue", sans-serif;
}
p {
  font-family: "Samsung Sharp Sans", sans-serif;
}

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
span,
p,
a,
label {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

.ease,
a,
input[type="submit"],
button {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.relative {
  position: relative;
}

.clearfix {
  display: block;
  clear: both;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.middle-div {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.hori-div {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.bg-common {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.relative,
.rel {
  position: relative;
}

.absolute,
.abs {
  position: absolute;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}
header {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.h-auto {
  height: 120vh !important;
}
.h-auto-2 {
  height: 110vh !important;
}
.h-auto-3 {
  height: 130vh !important;
}

//section
.home-banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  padding-top: 250px;
  .back-btn {
    background-color: #bd1733;
    font-size: 23px;
    font-family: "Sharp Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: fit-content;
    padding: 15px 20px;
    line-height: 1;
    border-radius: 10px;
    color: #fff;
  }
  .wrapper {
    align-items: center;

    .content {
      h1 {
        color: #fff;
        font-size: 180px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }
      .mt {
        margin-top: -40px;
      }
      p {
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 50px;
      }
      span {
        a {
          color: #fff;
          text-decoration: underline;
        }
      }
      .btn-home {
        display: flex;
        gap: 30px;
        align-items: center;
        .btn-login {
          background-color: #bd1733;
          padding: 20px 80px;
          border-radius: 5px;
          a {
            text-transform: uppercase;
            font-weight: bold;
            color: #fff;
            font-family: "Samsung Sharp Sans", sans-serif;
            text-align: center;
          }
        }
        .btn-scan {
          background-color: #2c4999;
          padding: 18px 50px;
          border-radius: 5px;
          img {
            width: 20%;
            object-fit: contain;
          }
          a {
            text-transform: uppercase;
            font-weight: bold;
            color: #fff;
            font-family: "Samsung Sharp Sans", sans-serif;
            text-align: center;
          }
        }
      }
    }

    .content-2 {
      h1 {
        color: #fff;
        font-size: 53px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 15px;
        margin-top: 20px;
      }
      span {
        color: #fff;
        font-family: "Samsung Sharp Sans", sans-serif;
        font-weight: 500;
        font-size: 20px;
      }
      .head-upload {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        border-radius: 5px;
        margin-top: 20px;
        h5 {
          color: #555a6b;
          font-weight: normal;
        }
        button {
          background-color: #bd1733;
          padding: 13px 25px;
          border-radius: 5px;
          color: #fff;
          font-weight: bold;
          font-size: 15px;
          border: none;
        }
      }
      .drop-wrapper {
        padding: 30px 20px;
        background-color: #fff;
        margin-top: 20px;
        border-radius: 5px;

        .drop-zone {
          margin-top: 0;
          padding: 0;
          display: flex;
          height: auto;
          flex-direction: column;
          img {
            margin: 0 0 10px;
          }
        }
        .drop-details {
          margin: 0;
          p {
            color: #555a6b !important;
            font-family: "Samsung Sharp Sans", sans-serif;
            font-size: 15px;
          }
        }
        h3 {
          font-family: "Samsung Sharp Sans", sans-serif;
          font-size: 15px;
          color: #555a6b;

          margin-top: 10px;
        }
        h4 {
          font-family: "Samsung Sharp Sans", sans-serif;
          font-size: 15px;
          color: #555a6b;
          margin-bottom: 10px;
          margin-top: 10px;
        }
        .drop-zone__prompt {
          font-size: 13px;
          font-family: "Samsung Sharp Sans", sans-serif;
          font-weight: 600;
          color: #181818;
          background-color: #bd1733;
          color: #fff;
          padding: 15px;
          width: 25%;
          border-radius: 5px;
          margin-bottom: 20px;
        }
      }
      .upload-container-2 {
        text-align: center;
        background-color: #fff;
        margin-top: 20px;

        border-radius: 5px;

        .download-1 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .prof {
            img {
              width: 100%;
              object-fit: contain;
            }
          }
          padding: 20px 30px;

          .name-con {
            width: 40%;

            .name {
              display: flex;
              align-items: center;
              justify-content: space-between !important;
              h3 {
                font-size: 15px;
                color: #000;
                font-weight: bold;
                margin-left: -50px;
              }
              h4 {
                font-size: 12px;
                font-weight: normal;
              }
            }
          }

          img {
            object-fit: contain;
          }
        }
        .download-2 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid #e1e1e1;
          padding: 20px 30px;

          h3 {
            font-size: 15px;
            color: #77839f;
          }
          h4 {
            font-size: 12px;
            font-weight: normal;
            color: #979fb8;
          }
          img {
            object-fit: contain;
          }
          .graph {
            width: 50%;
            .name {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
            img {
              width: 100%;
            }
          }
          .img-check {
            display: flex;
            gap: 10px;
            align-items: center;
            h6 {
              color: #2c4999;
              font-size: 30px;
            }
          }
        }
      }

      .description {
        background-color: #fff;
        margin-top: 20px;
        padding: 20px;
        border-radius: 5px;

        form {
          input {
            border: none;
            width: 100%;
            color: #000000;
            font-size: 13px;
            font-family: "Samsung Sharp Sans", sans-serif;
            font-weight: 500;

            &::placeholder {
              color: #d3d3d3;
              font-size: 13px;
            }
          }
        }
      }

      .btn-submit {
        background-color: #bd1733;
        padding: 20px 80px;
        margin-top: 30px;
        font-family: "Samsung Sharp Sans", sans-serif;
        text-align: center;
        border-radius: 5px;
        width: 50%;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        border: none;
        // a {
        //   text-transform: uppercase;
        //   font-weight: bold;
        //   color: #fff;
        // }
      }
    }
  }
}
.home-banner-upload {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  padding-top: 250px;
  min-height: 100vh;
  position: relative;
  .back-btn {
    background-color: #bd1733;
    font-size: 23px;
    font-family: "Sharp Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: fit-content;
    padding: 15px 20px;
    line-height: 1;
    border-radius: 10px;
    color: #fff;
  }
  .wrapper {
    align-items: center;

    .content {
      h1 {
        color: #fff;
        font-size: 80px;
        font-weight: bold;
        // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
      }
      .upload-list {
        margin-bottom: 40px;
        .list {
          background-color: #bd1733;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
          padding: 30px;
          border-radius: 10px;
          h2 {
            color: #d2d2d2;
            font-size: 35px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
          }
          p {
            color: #d2d2d2;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            margin-top: 15px;
          }
        }
      }
    }

    .descript-form {
      h1 {
        color: #fff;
        font-size: 80px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
      }
      form {
        label {
          color: #fff;
          font-size: 20px;
          margin-bottom: 10px;
          font-weight: 500;
        }
        input {
          width: 100%;
          border: none;
          padding: 20px;
          margin-bottom: 20px;
          border-radius: 5px;
          color: #7d7d7d;
          background-color: rgba(0, 0, 0, 0.5); /* Setting opacity with RGBA */
          &::placeholder {
            color: #7d7d7d;
          }
        }
        textarea {
          border-radius: 5px;
          width: 100%;
          padding: 20px;
          color: #7d7d7d;
          background-color: rgba(0, 0, 0, 0.5); /* Setting opacity with RGBA */
          &::placeholder {
            color: #7d7d7d;
          }
        }
        .btn-submit {
          background-color: #bd1733;
          padding: 20px 80px;
          margin-top: 30px;
          font-family: "Samsung Sharp Sans", sans-serif;
          text-align: center;
          border-radius: 5px;
          width: 40%;
          border: none;
          cursor: pointer;
          text-transform: uppercase;
          font-weight: bold;
          color: #fff;
        }
      }
    }
    .descript-form2 {
      h1 {
        color: #fff;
        font-size: 80px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
      }
      textarea {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 20px;
        border: none;
        border-radius: 5px;
        &::placeholder {
          font-size: 20px;
          color: #575757;
        }
      }
      button {
        display: grid;
        justify-content: center;
      }

      .btn {
        display: grid;
        justify-content: center;
        text-align: center;
        .btn-submit {
          background-color: #bd1733;
          padding: 20px 80px;
          margin-top: 30px;
          font-family: "Samsung Sharp Sans", sans-serif;
          text-align: center;
          border-radius: 5px;
          width: 250px;
          border: none;
          cursor: pointer;
          text-transform: uppercase;
          font-weight: bold;
          color: #fff;
          // a {
          //   text-transform: uppercase;
          //   font-weight: bold;
          //   color: #fff;
          // }
        }
      }
    }
  }
}
.signup {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  padding-top: 250px;

  .wrapper {
    .form {
      background-color: #000;
      background-color: rgba(0, 0, 0, 0.5);

      padding: 90px;
      border-radius: 10px;

      h1 {
        color: #fff;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 60px;
      }
      form {
        p {
          text-align: center;
          color: #fff;
          font-family: "Samsung Sharp Sans", sans-serif;
          font-weight: 500;
        }
        span {
          a {
            color: #fff;
            font-weight: bold;
          }
        }
        input {
          width: 100%;
          padding: 20px;
          border-radius: 15px;
          background-color: transparent;
          border: 2px solid #fff;
          margin-bottom: 30px;
          color: #fff;
          font-size: 20px;
          font-weight: 500;
          &::placeholder {
            color: #fff;
            font-family: "Samsung Sharp Sans", sans-serif;
            font-size: 20px;
            text-transform: uppercase;
          }
        }
        button {
          width: 100%;
          background-color: #bd1733;
          padding: 20px;
          color: #fff;
          font-weight: 500;
          font-family: "Samsung Sharp Sans", sans-serif;
          border-radius: 15px;
          border: none;
          margin-top: 30px;
        }
      }
    }
  }
}

.drop-zone {
  max-width: 100%;
  height: 80px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #fff;
  border-radius: 50px;
  margin-top: 50px;
  background-color: rgba($color: #fff, $alpha: 0.5);
  img {
    margin-right: 20px;
  }
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}
.drop-zone__input2 {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
.drop-zone__prompt {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #33302f;
  b {
    border-bottom: 1px solid #000;
  }
}

.drop-details {
  margin-top: 30px;
  p {
    font-size: 18px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
  }
}

.upload-details {
  margin-top: 50px;
  margin-bottom: 150px;
  ul {
    li {
      .img-uploaded {
        padding: 15px;
        position: relative;
        &:before {
          content: "";
          height: 27px;
          width: 27px;
          border-top: 1px solid #df0025;
          border-left: 1px solid #df0025;
          position: absolute;
          top: 0;
          left: 0;
        }
        &:after {
          content: "";
          height: 27px;
          width: 27px;
          border-bottom: 1px solid #df0025;
          border-right: 1px solid #df0025;
          position: absolute;
          bottom: 0;
          right: 0;
        }
        img {
          &.order__image {
            height: 150px;
            width: 150px;
            border-radius: 10px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.upload-container {
  text-align: center;
  background-color: #fff;
  margin-top: 40px;
  padding: 20px;
}

.progress-container {
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.progress-bar {
  height: 20px;
  width: 0;
  background-color: #2c4999;
  transition: width 0.3s ease-in-out;
}

.flex-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  gap: 50px;
}

.progress-text {
  margin-right: 10px;
  color: #2c4999;
  font-size: 15px;
}

.thumbnail {
  max-width: 100%;
  max-height: 100px;
}

#actionIcon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.m-view {
  display: none;
}

.popup {
  display: none;
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 998; /* Ensure the overlay is behind the popup but above the page content */
}

// .custom-scrollbar {
//   overflow-y: scroll;
//   scrollbar-width: thin; /* Firefox */
//   scrollbar-color: #2c4999 #fff; /* Firefox */
// }
// @media screen and (-webkit-min-device-pixel-ratio: 0) {
//   .custom-scrollbar {
//     overflow-y: scroll;
//     overflow-x: hidden;
//   }

//   .custom-scrollbar::-webkit-scrollbar {
//     width: 10px;
//   }

//   .custom-scrollbar::-webkit-scrollbar-track {
//     background: #fff;
//   }

//   .custom-scrollbar::-webkit-scrollbar-thumb {
//     background: #2c4999;
//   }
// }
