@import url("https://fonts.cdnfonts.com/css/sharp-sans");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.album-section {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 0 100px;
}
.album-section:before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}
.album-section .section-heading {
  text-align: center;
  margin-bottom: 50px;
  font-family: "Sharp Sans", sans-serif;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.54);
}
.album-section .row-list {
  max-width: 650px;
  margin: 0 auto;
}
.album-section .row-list li a {
  padding: 0 0px 20px;
  text-align: center;
}
.album-section .row-list li img {
  width: 100%;
  box-shadow: 0px 0px 30px 0px rgb(255, 255, 255);
  border-radius: 7px;
  border: 3px solid #fff;
}
.album-section .row-list li h3 {
  font-size: 30px;
  font-family: "Bebas Neue", sans-serif;
  margin-top: 10px;
  font-weight: 500;
  color: #fff;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.54);
}

.z-top {
  position: relative;
  z-index: 20;
}

.album-inner-content .profile {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 0px rgb(255, 255, 255);
  border: 3px solid #fff;
}
.album-inner-content .content h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.54);
}
.album-inner-content .content h3 {
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.54);
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 10px;
}
.album-inner-content .content p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: "Sharp Sans", sans-serif;
  font-weight: 500;
}

.profile-blocks .profile-wrapper {
  min-height: 200px;
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  overflow: hidden;
  border: 3px solid #fff;
  position: relative;
  box-shadow: 0px 0px 30px 0px rgb(255, 255, 255);
}
.profile-blocks .profile-wrapper:before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}
.profile-blocks .profile-wrapper h3 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px !important;
  position: relative;
  z-index: 20;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
}
.profile-blocks .profile-wrapper .vid-button {
  position: absolute;
  top: 120px;
}
.profile-blocks .profile-wrapper .vid-button img {
  width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.civilian-profile {
  margin-bottom: 30px;
}
.civilian-profile .profile-image {
  width: 100%;
  margin-bottom: 20px;
  height: 540px;
  border-radius: 7px;
  border: 3px solid #fff;
  box-shadow: 0px 0px 30px 0px rgb(255, 255, 255);
}
.civilian-profile h2 {
  color: #fff;
  font-size: 50px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  line-height: 1;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.54);
}
.civilian-profile h3 {
  color: #fff;
  font-size: 24px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  line-height: 1;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.54);
}

.back-btn {
  background-color: #bd1733;
  font-size: 23px;
  font-family: "Sharp Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 20px;
  line-height: 1;
  border-radius: 10px;
  color: #fff;
}

.service-desc {
  overflow-y: auto;
  max-height: 550px;
  padding-right: 20px;
  /* width */
  /* Track */
  /* Handle */
}
.service-desc::-webkit-scrollbar {
  width: 10px;
}
.service-desc::-webkit-scrollbar-track {
  background: #fff;
}
.service-desc::-webkit-scrollbar-thumb {
  background: #2c4999;
}
.service-desc .content {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
}
.service-desc .content .inner {
  border-radius: 10px;
  padding: 30px;
  border: 1px solid #2c4999;
}
.service-desc .content h3 {
  font-size: 35px;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 20px;
  font-weight: 600;
}
.service-desc .content p {
  font-size: 14px;
  font-family: "Sharp Sans", sans-serif;
  color: #707070;
  font-weight: 500;
}

.common-conntent-block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}
.common-conntent-block .profile-wrapper {
  background-color: #000;
  margin-bottom: 0;
  min-height: 307px;
  align-items: flex-end;
}
.common-conntent-block .profile-wrapper h3 {
  font-size: 35px;
  line-height: 1;
}

.image-frame {
  position: relative;
}
.image-frame img {
  width: 100%;
  height: 530px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0px 0px 30px 0px rgb(255, 255, 255);
}
.image-frame .image-name {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}
.image-frame .vid-button {
  position: absolute;
  top: 0;
}
.image-frame .vid-button img {
  width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=other.css.map */