@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1200px) {
  /* .common-conntent-block {
    grid-template-columns: repeat(2, 1fr);
  } */
  .common-conntent-block {
    gap: 15px;
  }
  .common-conntent-block .profile-wrapper {
    width: 100%;
  }
  .h-auto-3 {
    height: auto !important;
  }
  .h-auto2 {
    height: auto !important;
  }
  .home-banner .wrapper .content .btn-home .btn-login {
    width: 50%;
  }
  .custom-column {
    width: 23% !important;
  }
}

@media (max-width: 991px) {
  .common-conntent-block {
    grid-template-columns: repeat(2, 1fr);
  }
  .profile-blocks2 {
    width: 500px;
  }
  .custom-column {
    width: 30% !important;
  }

  .common-conntent-block .profile-wrapper {
    width: 100%;
  }
  .h-auto2 {
    height: auto;
  }
  .h-auto-3 {
    height: auto !important;
  }
  .custom-col {
    width: 50% !important; /* Override the column width to take up the full width */
  }
  .home-banner-upload .wrapper .content .upload-list .list {
    margin-bottom: 30px;
    padding-bottom: 50px;
  }
  .home-banner-upload .wrapper .content .upload-list {
    margin-bottom: 40px;
    width: 500px;
    align-items: center;
  }
  .home-banner-upload .wrapper .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .home-banner-upload .wrapper .content .upload-list .list h2 {
    font-size: 30px;
  }
  .home-banner .wrapper .content .btn-home .btn-login {
    width: auto;
  }
  .main-wrap {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .home-banner-upload .wrapper .content .upload-list {
    margin-bottom: 40px;
    width: 350px;
    align-items: center;
  }
  .image-frame .image-name {
    font-size: 15px;
  }
  .main-wrap {
    display: flex;
    justify-content: center;
  }
  .profile-blocks2 {
    width: 300px !important;
  }
  .all-btn {
    display: block;
  }
  /* .all-btn .btn-list {
    display: block;
  }
  .all-btn .btn-list .btn-album {
    width: 50%;
  } */

  .mt-album {
    margin-top: -100px;
  }
  .all-btn .btn-list {
    justify-content: center;
  }
  .all-btn .btn-list .btn-save {
    font-size: 13px;
    text-align: center;
    padding: 10px 40px;
  }
  .all-btn .btn-list .btn-delete {
    font-size: 13px;
    text-align: center;
    padding: 10px 30px;
  }
  .all-btn #popupContent3 {
    width: 250px;
    height: 130px;
  }
  .delete {
    padding: 10px 20px;
    font-size: 10px;
    margin-left: 10px;
  }
  .all-btn #popupContainer3 .btn {
    padding: 10px 30px;
    font-size: 10px;
    border-radius: 5px;
  }
  .all-btn #popupContent3 p {
    font-size: 15px;
  }
  .all-btn #popupContent4 {
    width: 250px;
    height: 130px;
  }
  .all-btn #popupContainer4 .btn {
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 5px;
  }
  .all-btn #popupContent4 p {
    font-size: 15px;
  }

  .all-btn .btn-list .btn-album {
    /* width: 100%; */
    text-align: center;
    font-size: 13px;
    padding: 15px 80px;
  }
  .m-view h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .profile-blocks2 .profile-wrapper:before {
    background-color: rgba(70, 60, 60, 0.568);
  }
  .profile-blocks2 .profile-wrapper {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
  }
  .h-auto {
    height: 100vh !important;
    padding: 200px 20px;
  }
  .h-auto-gal {
    height: auto;
  }
  .gallery-mobile {
    padding-top: 120px;
    padding-bottom: 20px;
  }
  .service-pix .wrapper .images-slider .pix-slider {
    margin-top: -150px;
  }
  .service-pix .wrapper .images-slider h1 {
    font-size: 35px;
  }
  .service-pix .wrapper .images-slider .pix-slider .owl-dots {
    margin-top: -450px;
  }
  .service-pix .wrapper .images-slider .pix-slider .owl-dots .owl-dot {
    border: none;
    background-color: #fff;
  }
  .album-section .row-list li a {
    padding: 0 0px 5px;
    text-align: center;
  }
  .service-desc {
    max-height: 380px;
  }
  .home-banner-upload .wrapper .descript-form2 textarea {
    height: 320px;
  }
  .album-section .row-list li img {
    height: 130px;
    width: 120px;
    object-fit: cover;
  }
  .home-banner .wrapper .content-2 .head-upload {
    padding: 5px 5px 5px 10px;
  }
  .home-banner .wrapper .content-2 .drop-wrapper h3 {
    margin: 0;
  }
  .owl-item {
    margin-right: 0;
  }
  .service-pix {
    padding: 70px 0;
    overflow-y: hidden;
    background-color: #e4e4e4;
    height: auto;
  }
  .service-pix .wrapper .images-slider .pix-slider .owl-stage-outer {
    height: 10%;
    overflow-y: hidden !important;
  }
  .service-pix .wrapper .images-slider ul img {
    object-fit: cover;
    margin-top: 150px;
    height: 50px;
  }
  .item img {
    height: 350px !important;
  }
  .owl-item.active {
    margin: 0 -15px;
  }
  .h-auto2 {
    height: auto;
    padding: 200px 20px;
  }

  .h-auto-3 {
    height: auto !important;
    padding: 60px 20px;
  }
  .home-1 {
    background-position: center center;
    background-image: url(".././images/mobile-1.png") !important;
    height: auto;
  }

  .home-1 {
    background-position: center center;
    background-image: url(".././images/mobile-1.png") !important;
    height: auto;
  }
  .home-2 {
    background-position: center center;
    background-image: url(".././images/home2.png") !important;
    height: auto;
  }
  .home-3 {
    background-position: center center;
    background-image: url(".././images/home3.png") !important;
    height: auto;
  }
  .home-4 {
    background-position: center center;
    background-image: url(".././images/home4.png") !important;
    height: auto;
  }
  .sign-1 {
    background-position: center center;
    background-image: url(".././images/sign-1.png") !important;
    height: auto;
  }
  .sign-2 {
    background-position: center center;
    background-image: url(".././images/sign2.png") !important;
    height: auto;
  }
  .sign-3 {
    background-position: center center;
    background-image: url(".././images/sign3.png") !important;
    height: auto;
  }
  .sign-4 {
    background-position: center center;
    background-image: url(".././images/sign4.png") !important;
    height: auto;
  }
  .home-banner .wrapper .content h1 {
    font-size: 45px;
    text-shadow: none;
  }
  .home-banner .wrapper .content h1 {
    margin-top: -5px !important;
  }
  .home-banner .wrapper .content .mt {
    font-size: 55px;
  }
  .home-banner .wrapper .content .btn-home {
    display: block;
    width: 100%;
  }
  .home-banner .wrapper .content .btn-home .btn-login-after {
    display: grid;
    justify-content: center;

    width: 80% !important;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left: 25px;
    padding: 15px 0px;
    text-align: center;
  }

  .home-banner .wrapper .content .btn-home .btn-login {
    display: grid;
    justify-content: center;

    width: 100% !important;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 15px;
    /* margin-left: 25px; */
    padding: 20px 0px;
    margin-top: 160px;
  }
  .album-remember {
    overflow-y: auto;
    max-height: 250px;
    padding: 20px;
  }
  .album-remember .content {
    margin-bottom: 20px;
  }
  .album-remember .content img {
    object-fit: cover;

    height: 200px;
    border-radius: 5px;
  }
  .album-head {
    font-size: 25px;
  }
  .album-remember .content h4 {
    bottom: 0;
    font-size: 15px;
  }
  .home-banner .wrapper .content p {
    font-size: 13px;
    text-align: center;
    margin-bottom: 30px !important;
  }
  .home-banner .wrapper .content-2 .head-upload button {
    padding: 5px 15px;
    font-size: 12px;
  }
  .home-banner .wrapper .content-2 .drop-wrapper .drop-zone img {
    width: 30px;
  }
  .home-banner .wrapper .content .btn-home .btn-login a {
    width: 100% !important;
  }
  .home-banner .wrapper .content .btn-home .btn-login {
    border-radius: 10px;
  }
  .home-banner .wrapper .content .btn-home .btn-scan img {
    width: 15%;
    object-fit: contain;
  }
  .home-banner .wrapper .content .btn-home .btn-scan {
    text-align: center;
  }

  .home-banner .wrapper .content .btn-home .btn-scan-after img {
    width: 15%;
    object-fit: contain;
  }
  .home-banner .wrapper .content .btn-home .btn-scan-after {
    text-align: center;
  }
  .home-banner .wrapper .content .btn-home .btn-scan-after {
    background-color: #bd1733;
    border: none;
    margin-top: 20px;
    width: 100%;

    border-radius: 10px;
    font-size: 15px;
    padding: 13px;
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .home-banner .wrapper .content .btn-home .btn-scan {
    background-color: transparent;
    border: 1px solid #fff;
    width: 60%;
    margin-left: 55px;
    border-radius: 10px;
    font-size: 15px;
    padding: 13px;

    margin-bottom: 20px;
  }

  .popup {
    font-size: 12px;
  }
  .service-desc .content {
    padding: 15px;
  }
  .signup {
    padding-top: 180px;
  }
  .signup .wrapper .form {
    padding: 10px;
    background-color: transparent;
  }
  .signup .wrapper .form form input {
    padding: 10px;
  }
  .signup .wrapper .form form input::placeholder {
    font-size: 13px;
  }
  .signup .wrapper .form form button {
    padding: 15px;
  }
  .signup .wrapper .form form p {
    font-size: 14px;
  }
  .m-view {
    display: block;
  }
  .d-view {
    display: none;
  }
  .album-section {
    padding-top: 100px;
    padding-bottom: 1px;
    /* height: 120vh; */
  }
  .album-section .section-heading {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: -30px;
  }
  /* .album-2 {
    padding-top: 0;
  } */
  .custom-col {
    width: 50% !important; /* Override the column width to take up the full width */
  }
  .album-section .row-list li h3 {
    font-size: 13px;
  }
  .album-inner-content .profile {
    display: grid;
    justify-content: center;

    height: 150px;
    margin: auto;
    max-width: 120px;
    object-fit: cover;
  }
  .album-inner-content .content h2 {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
  }
  .album-inner-content .content h3 {
    text-align: center;
    font-size: 15px;
  }
  .album-inner-content .content p {
    font-size: 10px;
  }

  .section-1 {
    background-color: blue;
    height: auto;
  }

  .civilian-profile .profile-image {
    /* width: 40%; */
    height: 180px;
    width: 150px !important;
    object-fit: cover;
  }
  .civilian-profile {
    margin-bottom: 10px;
    margin-top: -35px;
  }
  .civilian-profile h2 {
    font-size: 15px;
  }
  .civilian-profile h3 {
    font-size: 13px;
  }

  .prof-1 {
    background-position: center center;
    background-image: url(".././images/prof.png") !important;
  }
  /* .common-conntent-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px !important;
    margin-top: -30px;
  }
  .common-conntent-block .profile-wrapper {
    width: 100px !important;
    height: 40px !important;
  } */
  .common-conntent-block .profile-wrapper {
    height: 0;
  }
  /* .common-conntent-block {
  } */
  .profile-blocks .profile-wrapper {
    width: 100%;
  }
  /* .profile-blocks .profile-wrapper {
    width: 110px;
    min-height: 120px;
  } */
  .custom-column {
    width: 30%;
  }
  .profile-blocks .profile-wrapper h3 {
    font-size: 15px !important;
    line-height: 1.2;
  }
  .profile-blocks .profile-wrapper {
    padding: 13px;
  }
  .back-btn {
    font-size: 10px !important;
    padding: 10px !important;
  }

  .back-btn img {
    width: 20px !important;
  }
  /* .home-banner {
    overflow-y: hidden !important;
  } */
  .home-banner .wrapper .content-2 .btn-submit {
    padding: 10px;
    margin-top: 10px;
  }
  .home-banner .wrapper .content-2 .drop-wrapper {
    padding: 10px;
  }
  .service-desc .content p {
    font-size: 10px;
  }
  .service-desc .content h3 {
    font-size: 18px;
    text-align: center;
  }
  .image-frame img {
    height: 350px;
  }
  .profile-blocks .profile-wrapper .vid-button {
    top: 50px;
  }
  .profile-blocks .profile-wrapper .vid-button img {
    width: 30px;
  }
  .home-banner {
    padding-top: 100px !important;
    padding-bottom: 50px;
  }
  .homecustom {
    padding-top: 100px !important;
    padding-bottom: 130px !important;
    height: 100vh !important;
  }
  .home-banner .wrapper .content-2 h1 {
    font-size: 25px;
    text-align: center;
    margin: 0;
  }
  .home-banner .wrapper .content-2 .drop-wrapper .custom-1 {
    font-size: 20px;
  }
  .home-banner .wrapper .content-2 .drop-wrapper h4 {
    font-size: 10px;
  }
  .home-banner .wrapper .content-2 .drop-wrapper .drop-zone__prompt2 {
    width: 60%;
    padding: 7px;
    font-size: 12px;
    align-items: center;
  }
  .home-banner .wrapper .content-2 .drop-wrapper .drop-zone__prompt {
    margin-bottom: 5px;
  }
  .home-banner .wrapper .content-2 .drop-wrapper .drop-zone__prompt2 img {
    width: 30px;
  }

  .h-auto {
    padding-top: 120px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
  }
  .h-auto-2 {
    height: auto !important;
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
  }
  .home-banner .wrapper .content-2 .drop-wrapper .drop-zone__prompt {
    width: 100%;
    font-size: 15px;
  }
  .home-banner .wrapper .content-2 .description p {
    font-size: 15px;
  }
  .home-banner .wrapper .content-2 .btn-submit {
    width: 100%;
  }
  .home-banner .wrapper .content-2 .drop-wrapper .drop-details p {
    font-size: 12px;
  }
  .home-banner .wrapper .content-2 span {
    font-size: 15px;
  }
  .home-banner-upload .wrapper .content h1 {
    font-size: 25px;
    text-align: center;
  }
  .home-banner-upload {
    padding-top: 100px;
    padding-bottom: 20px;
  }
  .home-banner-upload .wrapper .content .upload-list {
    margin-bottom: 0;
  }
  .home-banner-upload .wrapper .content .upload-list .list {
    margin-bottom: 20px !important;
    height: 110px !important;
  }
  .home-banner-upload .wrapper .content .upload-list .list h2 {
    font-size: 15px;
  }
  .home-banner-upload .wrapper .content .upload-list .list p {
    font-size: 10px;
  }
  .home-banner-upload .wrapper .content .upload-list .list {
    padding: 25px !important;
  }

  .navbar-brand {
    text-align: center;
  }
  .navbar-brand img {
    width: 60%;
  }
  .home-banner .wrapper .content-2 .drop-wrapper h3 {
    font-size: 12px;
  }
  .home-banner .wrapper .content-2 .head-upload h5 {
    font-size: 12px;
  }
  .home-banner .wrapper .content-2 .head-upload a {
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }
  .home-banner .wrapper .content-2 .btn-submit a {
    font-size: 15px;
  }
  .home-banner .wrapper .content-2 .drop-wrapper .drop-zone__prompt {
    width: 50%;
    font-size: 8px;
    padding: 10px;
  }
  .home-banner .wrapper .content-2 .drop-wrapper {
    margin-top: 10px;
  }
  .home-banner-upload .wrapper .descript-form h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
  }
  .home-banner-upload .wrapper .descript-form form input {
    margin-bottom: 10px;
    padding: 15px;
  }
  .home-banner .wrapper .content-2 .upload-container-2 .download-2 h4 {
    font-size: 10px;
  }
  .home-banner .wrapper .content-2 .upload-container-2 {
    margin-top: 10px;
  }
  .home-banner .wrapper .content-2 .description {
    margin-top: 10px;
  }
  /* .home-banner-upload .wrapper {
    margin-top: -30px;
  } */
  .home-banner-upload .wrapper .descript-form form textarea {
    height: 130px;
  }
  .home-banner-upload .wrapper .descript-form form .btn-submit {
    padding: 15px;
    margin-top: 10px;
  }

  .home-banner-upload .wrapper .descript-form form .btn-submit {
    width: 100%;
    font-size: 15px;
  }
  .home-banner-upload .wrapper .descript-form form label {
    font-size: 15px;
  }
  .home-banner-upload .wrapper .descript-form2 h1 {
    font-size: 30px;
  }
  .home-banner-upload .wrapper .descript-form2 textarea::placeholder {
    font-size: 15px;
  }
  .home-banner-upload .wrapper .descript-form2 .btn .btn-submit {
    width: 300px;
    padding: 15px;
  }

  .home-banner
    .wrapper
    .content-2
    .upload-container-2
    .download-1
    .name-con
    .name
    h3 {
    margin-left: 0;
    font-size: 12px;
  }
  .home-banner .wrapper .content-2 .upload-container-2 .download-1 {
    padding: 10px 15px;
  }
  .home-banner .wrapper .content-2 .upload-container-2 .download-2 {
    padding: 10px 15px;
  }
  .home-banner .wrapper .content-2 .upload-container-2 .download-1 .name-con {
    width: auto;
  }
  .home-banner .wrapper .content-2 .description {
    padding: 5px 10px;
  }
  .home-banner
    .wrapper
    .content-2
    .upload-container-2
    .download-1
    .name-con
    .name {
    gap: 10px;
  }
  .home-banner .wrapper .content-2 .upload-container-2 .download-2 h3 {
    font-size: 10px;
  }
  .home-banner
    .wrapper
    .content-2
    .upload-container-2
    .download-2
    .img-check
    h6 {
    font-size: 20px;
  }
  .profile-blocks2 .profile-wrapper h3 {
    font-size: 15px;
    line-height: 1.2;
  }
  .profile-blocks2 .profile-wrapper {
    min-height: 110px;
  }
  .home-banner .back-btn {
    font-size: 12px;
  }
  .home-banner-upload .back-btn {
    font-size: 12px;
  }
  .gallery-mobile .wrapper .main-video img {
    height: 150px;
    width: 100%;
    object-fit: cover;
  }
  .gallery-mobile h1 {
    font-size: 20px;
  }
  .gallery-mobile .wrapper .vid-list img {
    width: 50%;
    height: 90px;
    object-fit: cover;
  }
  .gallery-mobile .wrapper .vid-list h2 {
    font-size: 15px;
  }
  .profile-blocks2 .profile-wrapper {
    margin-bottom: 10px;
  }
  .signup .wrapper .form h1 {
    font-size: 35px;
  }
  .mt-2 {
    margin-top: 5px !important;
  }
}
@media (max-width: 500px) {
  .profile-blocks .profile-wrapper h3 {
    font-size: 16px !important;
    line-height: 1em!important;
  }
  .profile-blocks2 .profile-wrapper h3 {
    font-size: 16px !important;
    line-height: 1em!important;
  }

  .profile-blocks .profile-wrapper {
    min-height: 140px !important;
  }
  .profile-blocks {
    row-gap: 0;
  }
  
  .home-banner-upload .wrapper .content .upload-list .list p{
    margin-top: 0px;
  }

  .home-banner-upload .wrapper .content .upload-list .list{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    padding: 10px !important;
    margin-bottom: 0px!important;
  }

  .home-banner-upload .wrapper .content .upload-list .list h2{
    font-size: 23px;
    line-height: 1em;

  }

  .home-banner-upload .wrapper .content .upload-list{
    width: 100%;
    gap: 10px 15px;
    justify-content: space-between;
  }

  .home-banner-upload .wrapper .content{
    gap:10px;
  }

  .custom-col{
    padding:0px;
    width: 45%!important;
  }

  .home-banner-upload .wrapper .content h1{
    font-size:35px;
    line-height: 1em;
    margin-bottom: 0px;
    text-shadow: 0px 3px 6px #000000c7;
  }

  .home-banner{
    height: 100vh!important;
  }


  .album-section{
    align-items: center;
    padding:100px 0px 50px;
  }
}
/* @media (max-width: 350px) {
  .profile-blocks2 .profile-wrapper h3 {
    font-size: 18px;
    line-height: 1.2;
  }

  .home-banner-upload .wrapper .content .upload-list .list {
    height: auto !important;
  }
  .profile-blocks .profile-wrapper {
    min-height: 20px !important;
  }
} */
